name: Kong Gateway test

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  validate-code:
    name: Build and Validate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'


      - name: Install Cypress
        uses: cypress-io/github-action@v6
        with:
          runTests: false

      - name: Cypress Syntax Check
        run: npx cypress info

      - name: Upload Config Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: project-configs
          path: |
            cypress.config.js
            package.json